<div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Source ID
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="form-inline form-container">
                    <div class="form-body">
                        <label for="largeTraderSource">Source Id</label>
                        <input type="text" class="form-control" name="largeTraderSource" id="largeTraderSource" placeholder="Enter Source Id">
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>