<div class="panel-group" id="largeTraderDueDateAccordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="largeTraderDueDateHeading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#largeTraderDueDateAccordion" href="#largeTraderDueDateCollapse" aria-expanded="true" aria-controls="largeTraderDueDateCollapse">
                    Due Date
                </a>
            </h4>
        </div>
        <div id="largeTraderDueDateCollapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="largeTraderDueDateHeading">
            <div class="panel-body">
                <div class="form-inline form-container">
                    <div class="form-group">
                        <label for="dueDate">Due Date</label>
                        <input type="text" class="form-control" name="dueDate" id="dueDate" placeholder="10 days from now">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>