<div class="panel-group" id="largeTraderReviewAccordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="largeTraderReviewHeading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#largeTraderReviewAccordion" href="#collapseLargeTrader" aria-expanded="true" aria-controls="collapseOne">
                    Review
                </a>
            </h4>
        </div>
        <div id="collapseLargeTrader" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="largeTraderReviewHeading">
            <div class="panel-body">
                <div class="form-inline form-container">
                    <div class="form-group">
                        <label for="reviewFrom">Review Form</label>
                        <input type="text" class="form-control" name="reviewFrom" id="reviewFrom" placeholder="Enter Review Date">
                    </div>
                    <div class="form-group">
                        <label for="reviewFrom">Review To</label>
                        <input type="text" class="form-control" name="reviewTo" id="reviewTo" placeholder="Enter Review Date">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>