<div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="largetradersidheading">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#largetradersid" aria-expanded="true" aria-controls="largetradersid">
                    Large Traders ID
                </a>
            </h4>
        </div>
        <div id="largetradersid" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="largetraderidheading">
            <div class="panel-body">
                <div class="form-inline form-container">
                    <div class="form-group">
                        <label for="ltidCheckBox">LTID#</label>
                        <input type="checkbox" name="ltidCheckBox" class="form-control" id="ltidCheckBox">
                        <label> All </label>
                        <span class="dynamic-container">
                            <input type="text" name="ltidText[]" class="ltidText form-control" placeholder="Enter Ltid#">
                        </span>
                        <button class="btn btn-primary" name="ltidAdd" id="ltidAdd">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>